body 
{
    font-family: "Georgia, serif"
}
/* .backgroundHome
{
    background-image: url("../images/indexBackground.jpg");
    background-size: 100%;
    background-attachment: fixed;
} */
table 
        {
            width: 100%;
            font: 17px Calibri;
        }
        table, th, td 
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
        .input, div {
            font:13px Verdana;
        }